@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.{js,ts,jsx,tsx}';

/* import opensans from public folder */

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
}

/* import Monoton-Regular */

@font-face {
    font-family: 'Monoton';
    src: url('/fonts/Monoton-Regular.ttf');
}

@theme {
    --font-sans: 'Lato', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: 'Monoton', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
